-extends "base.html"

-block content
  .row
    .large-12.columns
      %h1 Ma fiche de perso IRL
    %hr

    %p
      Blabla foobar, expliquer que ça va permettre de connaitre ses buffs IRL.

    %form{action: "sheet/", method: "get"}
      -for privilege in privileges
        %h3= privilege.title
        %p
          -if privilege.type == "select"
            %select{name: "{{ privilege.name }}"}
              -for option in privilege.options
                %option{value: "{{ option.value }}"}
                  =option.title
          -else
            -for option in privilege.options
              -if option and option != "\n"
                %input{name: "{{ option.name }}", type: "{{ option.value|default:checkbox }}"}

      %input{type: "submit"}
