-extends "base.html"
-load markdown_deux_tags

-block content
  .row
    %h1 Votre fiche de personnage
    %hr

    -for category in categories
      %h2 {{ category.title }}: {{ category.choice.title }}
      .row
        .large-6.columns
          %p
            Votre choix vous donne les caractéristiques suivantes:

          =category.choice.content|markdown

        .large-6.columns
          %p
            Vous auriez pu avoir:

          %dl.accordion{data-accordion: "true"}
            -for other in category.others
              %dd
                %a{href: "#{{ category.name }}-{{ other.value }}"}= other.title
                .content{id: "{{ category.name }}-{{ other.value }}", class: "{% if forloop.first %}active{% endif %}"}
                  =other.content|markdown

    %h2{style: "margin-top: 100px"} Conclusion:
    %hr

    %p
      Rajouter une conclusion expliquant la démarche, c'est quoi les privilèges, mettre en liens quelques exemples de "fiche" de gens vivant moins facilement que les autres.(par qu'il se peut que des gens prennent pas la peine de regarder le reste). Limite faire un truc adapté à chaque profile ?

    %p
      Donner plein de liens pédagogiques genre vers l'intersectionnalité, comment être un allié etc ...
